
<h1>Manage your Properties</h1>
<p class="desc-text">We make it easy to manage all of your rental properties in one place. Buy one of our QR code enabled signs, and start using our tools to make your life easier.</p>
<div class="row">
	<div id='welcome-container'>
		<div class='email_signup_form'>
			<%= render 'emailSignupForm' %>
		</div>
	
		<div class="feature-column">
	
			<div id="feature-create">
				<p>Create a rental listing using our simple tools.</p>
			</div>
	
			<div id="feature-sign">
				<p>Link to your listing from our custom for rent sign using web technologies.</p>
			</div>
	
			<div id="feature-manage">
				<p>Manage all your properties from one central location. Turn the listing on and off.</p>
			</div>
		</div>
	</div>
</div>
