/* HEADER */
header {
	background:transparent;
	z-index: 999;
	width:100%;

	#header-normal {
		height:140px;
		background:url(image_path('header.png')) repeat-x;
		
		.logo {
			position:absolute;
			top:8px;
			left:13px;
			text-indent:-5000px;
			z-index:3;
			
			&:hover {
				background:transparent;
			};
			
			.logo-icon {
				background:url(image_path('logo.png')) no-repeat;
				display:block;
				width:399px;
				height:133px;
				
			}
		}
		
		#header-controls {
			position:absolute;
			top:36px;
			background:#174d7b;
			height:78px;
			width:100%;
			z-index:1;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
		}
		
		.sign-up {
			float:right;
			display:block;
			height:30px;
			width:70px;
			font-size:18px;
			margin:17px 20px 0px 0px;
			padding:10px 10px 0px 10px;
		}
		
		.map-icon {
			background: #fff url(image_path('placeholder_white.png')) no-repeat;
			background-size:46px;
			width:46px;
			height:46px;
			display:inline-block;
			text-indent:-5000px;
			position: absolute;
			top: 15px;
			left: 10px;
		}

		.header-address {
			min-width: 266px;
			display: inline-block;
			float:right;
			padding:20px 35px;

			h1 {
				color: white;
				font-size: 26px;
				text-align: right;
				font-weight:normal;
			}
		}
	}

	#header-mobile {
		height:59px;
		background:#174d7b;
		
		.logo {
			width:44px;
			height:37px;
			
			float: left;
			padding: 11px 9px;
			border-right: 2px groove #174d7b;
			
			display:block;
			text-indent:-5000px;
			
			&:hover {
				color:#aaa;
				text-decoration:none;
				background:#285B95;
			}
			
			.mobile-icon {
				background:url(image_path('mobile-home.png')) no-repeat;
				background-size:42px 33px;

				//width:46px;
				height:46px;
				display:block;
			}
		}
		
		
		.header-address {	
			display:block;
			width:100%;
			padding-top:9px;
			h1 {
				color: white;
				font-size: 20px;
				text-align: center;
				line-height:100%;
				margin:0px;
			}
		}
		
		.map-link {
			width:43px;
			height:42px;
			
			float: right;
			padding: 9px 0px 8px 19px;
			border-left: 2px groove #174d7b;
			
			display:block;
			text-indent:-5000px;
			
			&:hover {
				color:#aaa;
				text-decoration:none;
				background:#285B95;
			}
			
			.map-icon {
				background:url(image_path('map-icon.png')) no-repeat;
				background-size:22px 37px;
				height:40px;
				display:block;
			}
		}
	}
}

/* FOOTER */
footer {
	position:relative;
	height:157px;
	margin-top:-157px;
	clear:both;
	width:100%;
	
	background:#4d85c5;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#4d85c5), to(#2d6499)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #4d85c5, #2d6499); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #4d85c5, #2d6499); /* FF3.6+ */
	background-image: -ms-linear-gradient(top, #4d85c5, #2d6499); /* IE10 */
	background-image: -o-linear-gradient(top, #4d85c5, #2d6499); /* Opera 11.10+ */
	background-image:  linear-gradient(top, #4d85c5, #2d6499); /* W3C */
	
	p {
		margin-right:25px;
		color:white;
		min-width:400px;
	}
	  
	@media (max-width: 767px) {
		height:112px;
		margin-top:-112px;
		font-size:12px;
		margin-right:25px;
		color:white;
		float:none;
	}
	
	a {
		color:#fff;
		
		&:hover {
			text-decoration:none;
			background:transparent;
			color:#aaa;
		}
	}
	
	#footer-normal {
		display:block;
		
		.footer-logo {
			background:url(image_path('buildings.png'));
			width:459px;
			height:162px;
			margin-left:31px;
			margin-top:-13px;
			float:left;
		}
		
		.footer-text {
			background:url(image_path('footer-text-bg.png'));
			width:438px;
			height:31px;
			float:right;
			margin-top:117px;
			margin-right:31px;
			
			span {
				float:left;
				color:white;
				font-size:14px;
				display:block;
				padding:8px 14px;
			}
			
			a {
				float:right;
				color:white;
				font-size:14px;
				padding:8px 14px;
				&:hover {
					background:transparent;
					text-decoration:underline;
				};
			}
		}
	}
	
	#footer-mobile {
		padding:6px 0px;
		img {
			margin:0px auto;
			display:block;
		}
	}
}

/* CONTENT */
.content-wrapper {
	background: #fff;
	
	margin:0px auto 15px auto;
	padding:34px 0px 0px 0px;
	display:block;
	
	overflow-y:auto;
	overflow-x:hidden;

	
	@media (max-width: 767px) {
	}
}
