/* HEADER */
header {
	position:fixed;
	background:rgba(21, 35, 45, 0.8);
	z-index: 999;
	width:100%;
	height:75px;
	@media (max-width: 767px) {
		height:59px;
	}

	#header-normal {
		height:75px;
		
		.logo {
			float:left;
			font-size:32px;
			display:block;
			text-indent:-5000px;
			
			&:hover {
				background:transparent;
			};
			padding:16px 20px;
			.logo-icon {
				background:url(image_path('logo.png')) no-repeat;
				display:block;
				width:165px;
				height:43px;
			}
		}
		
		.sign-up {
			float:right;
			display:block;
			height:30px;
			width:70px;
			font-size:18px;
			margin:17px 20px 0px 0px;
			padding:10px 10px 0px 10px;
		}
		
		.map-icon {
			background: #fff url(image_path('placeholder_white.png')) no-repeat;
			background-size:46px;
			width:46px;
			height:46px;
			display:inline-block;
			text-indent:-5000px;
			position: absolute;
			top: 15px;
			left: 10px;
		}

		.header-address {
			width: 80%;
			min-width: 266px;
			display: inline-block;
			padding-left: 71px;

			h1 {
				color: white;
				font-size: 26px;
				text-align: center;
				display: inline;
			}
		}
	}

	#header-mobile {
		height:59px;
		background-size:100% 59px;
		
		.logo {
			width:44px;
			height:37px;
			
			float: left;
			padding: 11px 9px;
			border-right: 2px groove #333;
			
			display:block;
			text-indent:-5000px;
			
			&:hover {
				color:#aaa;
				text-decoration:none;
				background:#285B95;
			}
			
			.mobile-icon {
				background:url(image_path('mobile-home.png')) no-repeat;
				background-size:42px 33px;

				//width:46px;
				height:46px;
				display:block;
			}
		}
		
		
		.header-address {	
			display:block;
			width:100%;
			padding-top:9px;
			h1 {
				color: white;
				font-size: 20px;
				text-align: center;
				line-height:100%;
				margin:0px;
			}
		}
		
		.map-link {
			width:43px;
			height:42px;
			
			float: right;
			padding: 9px 0px 8px 19px;
			border-left: 2px groove #333;
			
			display:block;
			text-indent:-5000px;
			
			&:hover {
				color:#aaa;
				text-decoration:none;
				background:#285B95;
			}
			
			.map-icon {
				background:url(image_path('map-icon.png')) no-repeat;
				background-size:22px 37px;
				height:40px;
				display:block;
			}
		}
	}
}

/* FOOTER */
footer {
	position:relative;
	height:20px;
	margin-top:-20px;
	clear:both;
	width:100%;
	
	background:url(image_path('header.png')) repeat-x bottom left;
	
	p {
		margin-right:25px;
		color:white;
		min-width:400px;
	}
	
	@media (max-width: 767px) {
		height:112px;
		margin-top:-112px;
		font-size:12px;
		margin-right:25px;
		color:white;
		float:none;
	}
	
	a {
		color:#fff;
		
		&:hover {
			text-decoration:none;
			background:transparent;
			color:#aaa;
		}
	}
	
	#footer-normal {
		margin-top:25px;
		height:20px;
		display:block;
	}
	
	#footer-mobile {
		padding:6px 0px;
		img {
			margin:0px auto;
			display:block;
		}
	}
}

/* CONTENT */
.content-wrapper {
	box-shadow: 0 -5px 20px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 -5px 20px rgba(0, 0, 0, 1);
	
	//special freakin stuff
	background: #4d85c5;
//	background-image: url(image_path('blueprint.png')) repeat; /* fallback */
	background-image: url(image_path('blueprint.png')), -webkit-gradient(radial, left top, left bottom, from(#4d85c5), to(#285993)); /* Saf4+, Chrome */
	background-image: url(image_path('blueprint.png')), -webkit-radial-gradient(top, #4d85c5, #285993); /* Chrome 10+, Saf5.1+ */
	background-image: url(image_path('blueprint.png')),    -moz-radial-gradient(top, #4d85c5, #285993); /* FF3.6+ */
	background-image: url(image_path('blueprint.png')),     -ms-radial-gradient(top, #4d85c5, #285993); /* IE10 */
	background-image: url(image_path('blueprint.png')),      -o-radial-gradient(top, #4d85c5, #285993); /* Opera 11.10+ */
	background-image: url(image_path('blueprint.png')),         radial-gradient(top, #4d85c5, #285993); /* W3C */
	
	margin:0px auto 15px auto;
	padding:90px 0px 20px 0px;
	display:block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	overflow-y:auto;
	overflow-x:hidden;

	
	@media (max-width: 767px) {
		//margin:40px 10px 15px 10px;
	}
}
