p, ol, ul, td {
  font-family: "century gothic", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/* Mine */
html, body {
	margin:0px;
	background: #f5f5f5 url(image_path('blueprint.png')) repeat left top;
	text-color:#333333;
	font-family: "century gothic", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	height:100%;
	padding:0px;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

header {
	height:75px;
	
	.logo {
		margin-top:15px;
		color:white;
		font-size:22px;
		margin:15px;
		display:inline-block;
		&:visited {
		  color: white; }
		&:hover {
			color:#aaa;
			text-decoration:none;
			background:transparent;
		}
	}
	
	.map-icon {
		background: #fff url(image_path('placeholder_white.png')) no-repeat;
		background-size:46px;
		width:46px;
		height:46px;
		display:inline-block;
		text-indent:-5000px;
		position: absolute;
		top: 15px;
		left: 10px;
	}
	
	.header-address {
		width: 80%;
		min-width: 266px;
		display: inline-block;
		padding-left: 71px;
		
		h1 {
			color: white;
			font-size: 26px;
			text-align: center;
			display: inline;
		}
	}
}

#body-wrapper {
	min-height:100%;
	width:100%;
}

.center-wrapper {
	float:none;
	overflow:auto;
	padding-bottom:20px;
	height:100%;
	margin:auto;
}

.content-wrapper {
	display:inline-block;
	background:#FEFFFE;
	margin:0px;
}

footer {
	position:relative;
	height:20px;
	margin-top:-20px;
	clear:both;
	width:100%;
	background-color: #285B95;
	p {
		margin-right:25px;
		color:white;
		min-width:400px;
		
		@media (max-width: 767px) {
			font-size:12px;
			margin-right:25px;
			color:white;
			float:none;
		}
		
	}
	
	a {
		color:#fff;
		
		&:hover {
			text-decoration:none;
			background:transparent;
			color:#aaa;
		}
	}
}

.push {
	height: 70px;
}

