// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-wrapper {
	background: #fff;
	min-width:1243px;
	margin:0px auto 15px auto;
	padding:34px 0px 0px 0px;
	display:block;
	
	overflow-y:auto;
	overflow-x:hidden;
	
	.row-fluid {
		padding:0px 15px;
		width:auto;
	}
	.span7 {
		margin:0px;
		padding:0px 0px 0px 15px;
	}
	
	.span5 {
		margin:0px;
		padding:0px 0px 0px 15px;
		max-width:579px;
		min-width:490px;
	}
	
	.email_signup_form {
		padding:5px 0px 10px 0px;
		margin:0px;
		display:block;
		float:none;
	
		h3 {
			margin-bottom:10px;
			text-align:left;
			font-weight:normal;
			font-size:22px;
			color:#231f20;
		}
	
		p {
			font-size:16px;
			color:#231f20;
		}
	//	::-webkit-input-placeholder  { color:#fff; }
	//	input:-moz-placeholder { color:#fff; }
	
		form  {
			margin-top:30px;
		}
	
		.text {
			width:100%;
			box-sizing: border-box;
			padding:20px 20px 20px 10px;
			
			width:100%;
			font-size:18px;
			color:#231f20;
			font-family: "century gothic", Helvetica, Arial, sans-serif;
			background:transparent;
		}
	
		.btn {
			padding:12px 12px;
			font-family: "century gothic", Helvetica, Arial, sans-serif;
			font-size:18px;
		}
		
		//Media Queries
		@media (min-width: 1200px) {
			//margin-left:78%;
		}
	
		@media (max-width: 767px) {
			//margin-left:58%;
		}	
	}

	.video-container {
		background:#174d7b;
		width:696px;
		height:433px;
	}
	
	.feature-header {
		background:#174d7b;
		margin-top:140px;
		height:61px;
		padding-top:12px;
		
		h2 {
			color:white;
			font-weight:normal;
			text-align:center;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			font-size:28px;
		}
		
		p {
			margin-top:-2px;
			margin-right:55px;
			display:inline-block;
			float:right;
			color:white;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			-webkit-transform: rotate(-10deg); 
			-moz-transform: rotate(-10deg);
		}
	}
	
	#main-artwork {
		background:#174d7b;
		height:119px;
		margin:0px 30px;
		padding:40px 0px 0px 25px;
	
		p {
			font-size:14px;
			color:white;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			line-height:120%;
			//width:170px;
			width:14%;
			height:59px;
			display:inline-block;
			padding:15px 0px 0px 127px;
			margin-right:10px;
			float:left;
		}
	
		.feature-1 {
			background:image_url("welcome/feature-1.png") no-repeat;
			padding:0px 0px 0px 100px;
			width:12%
		}
	
		.feature-2 {
			background:image_url("welcome/feature-2.png") no-repeat bottom left;
			height:64px;
			margin-top:-10px;
			padding:0px 0px 0px 117px;
		}
	
		.feature-3 {
			background:image_url("welcome/feature-3.png") no-repeat;
			padding:0px 0px 0px 117px;
		}
	
		.feature-4 {
			background:image_url("welcome/feature-4.png") no-repeat bottom left;
			padding:0px 0px 0px 132px;
			height:65px;
			margin-top:-12px;
			width:13%;
		}
	}
}