// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-wrapper {
	background: #fff;
	min-width:1243px;
	margin:0px auto 15px auto;
	padding:34px 0px 0px 0px;
	display:block;
	
	overflow-y:auto;
	overflow-x:hidden;
	
	@media (max-width: 767px) {
		min-width:0px;
	}
	
	.row-fluid {
		padding:0px 15px;
		width:auto;
	}
	
	.span7 {
		margin:0px;
		padding:0px 0px 0px 15px;
	}
	
	.span5 {
		margin:0px;
		padding:0px 0px 0px 15px;
		max-width:579px;
		min-width:490px;
		
		@media (max-width: 767px) {
			min-width:0px;
			max-width:767px;
			width:100%;
			padding:0px 15px;
		}
		
		a {
			color:#231f20;
			font-size:14px;
		}
	}
	
	.email_signup_form {
		padding:5px 0px 10px 0px;
		margin:0px;
		display:block;
		float:none;
	
		h3 {
			margin-bottom:10px;
			text-align:left;
			font-weight:normal;
			font-size:28px;
			color:#231f20;
			width:100%;
			display:block;
			
			@media (max-width: 767px) {
				text-align:center;
				margin-bottom:20px;
			}
		}
	
		p {
			font-size:16px;
			color:#231f20;
			
			@media (max-width: 767px) {
				text-align:center;
			}
		}
	//	::-webkit-input-placeholder  { color:#fff; }
	//	input:-moz-placeholder { color:#fff; }
	
		form  {
			margin-top:30px;
		}
	
		.text {
			width:100%;
			box-sizing: border-box;
			padding:20px 20px 20px 10px;
			
			width:100%;
			font-size:18px;
			color:#231f20;
			font-family: "century gothic", Helvetica, Arial, sans-serif;
			background:transparent;
			
			@media (max-width: 767px) {
				text-align:center;
			}
		}
	
		.btn {
			padding:12px 12px;
			font-family: "century gothic", Helvetica, Arial, sans-serif;
			font-size:18px;
			
			@media (max-width: 767px) {
				float:none;
				margin:10px auto;
				display:block;
				padding:20px 30px;
			}
		}
		
		//Media Queries
		@media (min-width: 1200px) {
			//margin-left:78%;
		}
	
		@media (max-width: 767px) {
			//margin-left:58%;
		}	
	}

	.video-container {
		background:#174d7b;
		width:696px;
		height:433px;
	}
	
	.feature-header {
		background:#174d7b;
		margin-top:110px;
		height:61px;
		padding-top:24px;
		
		@media (max-width: 767px) {
			margin-top:0px;
			padding-bottom:10px;
		}

		h2 {
			color:white;
			font-weight:normal;
			text-align:center;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			font-size:28px;
			
			@media (max-width: 767px) {
				font-size:26px;
			}
		}
		
		p {
			margin-top:-2px;
			margin-right:55px;
			display:inline-block;
			float:right;
			color:white;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			-webkit-transform: rotate(-10deg); 
			-moz-transform: rotate(-10deg);
			
			@media (max-width: 767px) {
				font-size:14px;
				margin-top:4px;
			}
		}
	}
	
	#main-artwork {
		background:#174d7b;
		margin:0px 30px;
		padding:40px 0px 0px 25px;
		overflow-y:auto;

		@media (max-width: 767px) {
			margin:0px;
		}

		p {
			font-size:14px;
			color:white;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			line-height:120%;
			//width:170px;
			width:14%;
			min-height:59px;
			display:inline-block;
			padding:15px 0px 0px 127px;
			margin:0px 10px 15px 0px;
			float:left;
		}
	
		.feature-1 {
			background:image_url("welcome/feature-1.png") no-repeat;
			padding:0px 0px 0px 100px;
			width:12%			
		}
	
		.feature-2 {
			background:image_url("welcome/feature-2.png") no-repeat top left;
			padding:0px 0px 0px 117px;
		}
	
		.feature-3 {
			background:image_url("welcome/feature-3.png") no-repeat;
			padding:0px 0px 0px 117px;
		}
	
		.feature-4 {
			background:image_url("welcome/feature-4.png") no-repeat top left;
			padding:0px 0px 0px 132px;
			width:13%;
		}
	}
	
	#main-artwork-mobile {
		background:#174d7b;
		padding:0px 0px 0px 0px;
		margin:0px;
		overflow-y:auto;
		width:100%;

		p {
			font-size:18px;
			color:white;
			text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 6px;
			line-height:120%;
			display:block;
			padding:70px 10px 30px 10px;
			text-align:center;
		}
		
		a {
			color:white;
			font-size:18px;
			text-align:center;
			margin:20px 0px 30px 0px;
			display:block;
			text-decoration:underline;
		}
	
		.feature-1 {
			background:image_url("welcome/feature-1-mobile.png") no-repeat top center;			
		}
	
		.feature-2 {
			background:image_url("welcome/feature-2-mobile.png") no-repeat top center;
		}
	
		.feature-3 {
			background:image_url("welcome/feature-3-mobile.png") no-repeat top center;
		}
	
		.feature-4 {
			background:image_url("welcome/feature-4-mobile.png") no-repeat top center;
			padding:50px 10px 30px 10px;
		}
	}
}